<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- Compiled and minified Materialize CSS -->
	<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
	<script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burger-devour.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />

	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
	<title>Eat Dat Darn Burger!</title>
</head>

<body>

  <h1>Eat Dat Darn Burger!</h1>

	<img src="https://media.giphy.com/media/3jckG1c9y8RZl9UE7W/giphy.gif" class="center" height="200px"; width="100px";>
  <br><br>


	{{{ body }}}

<br><br>
	 <footer class="footer">
      Copyright Ali Sarkeshik 2019 &copy;
    </footer>
</body>
</html>