html {
  background-color: #FFC04C;
}

.center {
  margin: auto;
  width: 20%;
  border: 3px solid yellow;
  padding: 7px;
}

body {
  width: 75%;
 margin: 0 auto; 
text-align: center;
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: white;
}

h1 {
  text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 65px;
  margin: 50px;
}

.burgerAvailable {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
  width: 60%;
  margin: 10px;
  padding: 7px;
  background-image: linear-gradient(lime, red,lime);
  box-shadow: 10px 10px 10px black;
  border: none;
}

.burgerAvailable:hover {
  color: yellow;
}

.burgerEaten {
  font-family: 'Crafty Girls', cursive;
  color: black;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  border-radius: 25px;
  margin: 10px;
  padding: 7px;
  width: 60%;
  box-shadow: 10px 10px 10px black;
  background-image: linear-gradient(red, rgb(173, 0, 173), orangered);
}

.burgerEaten:hover {
  color: yellow;
}
h2 {
   text-align: center;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  margin: 50px;
}

.formContainer {
  background-color: red;
}

.addBurgerButton {
  font-family: 'Crafty Girls', cursive;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  border-radius: 25px;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #FFC04C;
  border: none;
}

.addBurgerButton:active {
 background-color: #FFC04C;
}


li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.devour {
  background-image: linear-gradient(purple, lime, purple);
  box-shadow: 10px 10px 10px black;
  width: 30%;
  border-color: black;
  border-radius: 12px;
  font-size: 20px;
  margin: 0 auto;
  /* display: inline-block; */
  text-align: center;
  padding: 2px;
}

.devour:hover {
  color:red;
}

#burger {
  font-size: 30px;
  box-shadow: 10px 10px 10px black;
  background-image: linear-gradient(red, rgb(173, 0, 173), orangered);  color: yellow;
  padding: 7px;
  font-weight: bolder;
  cursor: pointer;
  outline: black;
  border:black;
  border-style: ridge;
  border-radius: 7px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  position: center;
}

#burger:hover {
  color: red;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 26px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  line-height: 30px;
  color: yellow;
  background: url("../images/burger-wallpaper.jpg");
  background-size: 100%;
  height: auto;

}

footer {
  background-color: #666666;
  text-align: center;
  color: white;
  border-top: 8px solid #4aaaa5;
  position: relative;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}

@media only screen and (max-width: 980px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 100%;
    height: auto;
  }
  .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 640px) {
  body {
    max-width: 100%;
    height: auto;
  }
  header {
    position: static;
  }
  .wrapper {
    width: 600px;
  }
}